@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


footer {
    background-color: #4F4E4E;
    height: 100px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}