@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

nav {
    background-color: #CC1C1C;
    padding: 10px; 
    height: 70px;
    display: flex;
    align-items: center;
}

.butprof {
    margin: 32px;
    display: block;
    border: none; 
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.datadiri {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.flex {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
}

.flex input  {
    margin-top: 2px;
    padding: 10px 20px;
    height: 20px;
    width: 900px;
    border-radius: 7px;
}

.ubh-prof {
    color: white;
    font-family: 'Poppins';
    font-size: medium;
    font-weight: 400;
}

.komiksih {
    color: white;
    font-family: 'Ribeye';
    font-size: medium;
    font-weight: 600;
}

.back {
    color: white;
}

.menu {
    color: white;
    size: 1000px;
}

.wrapper {
    background-color:#4F4E4E;
}

.fo {
    font-family: 'Poppins';

}

.navigationbar {
    margin-left: -15px;
    display: flex;
    flex-direction: row;
}

.navigationbar>li {
    list-style-type: none;
    text-decoration: none;
    padding: 15px;
}

.navigationbar>li>a {
    text-decoration: none;
    color: white;
}

.beranda {
    margin-left: 15px;
    }

.box {
    margin-top: 9px;
    margin-left: 900px;
    border: black;
    width: 200px;
    border-radius: 9px;
    height: 30px;
}

.input {
    outline: none;
    height: 28px;
    width: 185px;
    border-radius: 9px;
    padding-right: 32px;
    border: 0px;
}

footer {
    background-color: #4F4E4E;
    height: 100px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}